<%- include('../partials/header', { pageTitle: 'Airline Detail' }) %>
<table>
  <thead>
    <tr>
      <th>Airline</th>
      <th>Airport</th>
      <th>Flight Number</th>
      <th>Departs</th>
      <th>Seat</th>
      <th>Price</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= flight.airline %> </td>
      <td><%= flight.airport %></td>
      <td><%= flight.flightNo %></td>
      <td><%= flight.departs %></td>
      <% if (tickets && tickets.length > 0) { %>
        <% tickets.forEach(function(ticket) { %>
          <td><%= ticket.seat %></td>
          <td>$<%= ticket.price %></td>
        <% }); %>
      <% } else { %>
        <td>No tickets available for this flight.</td>
      <% } %>
   
    </tr>
  </tbody>
</table>
<h3>Destinations</h3>
<% if (flight.destinations && flight.destinations.length > 0) { %>
  <ul>
    <% flight.destinations.forEach(destination => { %>
      <li>Airport: <%= destination.airport %>, Arrival: <%= destination.arrival %></li>
    <% }); %>
  </ul>
<% } else { %>
  <p>No destinations available for this flight.</p>
<% } %>
<h3>Add Destination</h3>
<form action="/flights/<%= flight._id %>" method="POST">
  <label>Airport:
    <select name="airport">
      <option value="AUS">AUS</option>
      <option value="DFW">DFW</option>
      <option value="DEN">DEN</option>
      <option value="LAX">LAX</option>
      <option value="SAN">SAN</option>
    </select>
  </label>
  <label>Arrival:
    <input type="datetime-local" name="arrival" required>
  </label><br>
  <button type="submit">Add Destination</button>
  <a href="<%= flight._id %>/tickets/new">
    <button type="button">Add Ticket</button>
  </a>
</form>

<%- include('../partials/footer') %>
